<header>
  <p>
    <mat-toolbar color="warn" style="border-radius: 5px;background-color: rgb(255, 78, 93);">
      <button type="button" routerLink = "/crear-tarea" routerLinkActive = "active" mat-button>
        <span class="material-icons">
          arrow_back
        </span> 
      </button>
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Creando tarea personalizada...</span>
      
      <span class="example-spacer"></span>
    </mat-toolbar>
  </p>
</header>

<mat-drawer-container class="contenedor">

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      
      <h2>Juan Carlos Martín</h2>
      <img class="img-perfil" src="https://cdn.pixabay.com/photo/2017/02/23/13/05/profile-2092113_960_720.png">

      <section>
        <div class="example-button-row">
        <button mat-raised-button routerLink = "/home" routerLinkActive = "active" class="sidebar-button" style="background-color: rgb(255, 78, 93); color:white">Inicio</button>
        </div>

        <div class="example-button-row">
          <button mat-raised-button routerLink = "/task-list" routerLinkActive = "active" class="sidebar-button" style="background-color: rgb(255, 78, 93); color:white">Listado de Tareas</button>
        </div>

        <div class="example-button-row">
          <button mat-raised-button class="sidebar-button" style="background-color: rgb(255, 78, 93); color:white"  routerLink = "/tarea-basica" routerLinkActive = "active">Grupos</button>
        </div>

        <div class="example-button-row">
          <button mat-raised-button class="sidebar-button" style="background-color: rgb(255, 78, 93); color:white">Estadísticas</button>
        </div>

        <div class="example-button-row">
          <button mat-raised-button routerLink = "/ayuda" routerLinkActive = "active" class="sidebar-button" style="background-color: rgb(255, 78, 93); color:white">Ajustes</button>
        </div>

        <div class="example-button-row">
          <button mat-raised-button routerLink = "/" routerLinkActive = "active" class="sidebar-button" style="background-color: rgb(255, 78, 93); color:white">Cerrar Sesión</button>
        </div>
      </section>

    </mat-drawer>

      <!--CONTENIDO-->
      <div class = "conf" fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh">
        
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Introduce el nombre de la tarea</mat-label>
                <textarea matInput placeholder="Introduce nombre de la tarea..."></textarea>
            </mat-form-field>
        </form>
        

        <!-- <h4>Basic mat-select</h4>
        <mat-form-field appearance="fill">
          <mat-label>Favorite food</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
    

        <p>Tiempo para completar la tarea: <p>
        <mat-slider 
            id="fontSize"
            thumbLabel
            tickInterval="1"
            step="1"
            min="0"
            max="100"
            value="11"  
            aria-label="unit(s)"></mat-slider>

        <p>¿Tiene fecha máxima? </p>
        <p>
          <mat-button-toggle-group name="fontStyle">
            <mat-button-toggle value="Si">Si</mat-button-toggle>
            <mat-button-toggle value="No">No</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
        <p>¿Se repite en el tiempo? </p>
        <p>
          <mat-button-toggle-group name="fontStyle1">
            <mat-button-toggle value="Si">Si</mat-button-toggle>
            <mat-button-toggle value="No">No</mat-button-toggle>
          </mat-button-toggle-group>
        </p>



        <p>Asignar</p>

         <!-- Meter fotos delante del nombre------------------------------------------ -->
        <mat-slide-toggle>Susana García</mat-slide-toggle>
      
        <mat-slide-toggle>Xu Chen</mat-slide-toggle>
      
        <mat-slide-toggle>Cristina Piña</mat-slide-toggle>

        <mat-slide-toggle>Enrique Ángel</mat-slide-toggle>

        <div></div>
        
        <button mat-raised-button style="width: 100%;background-color: rgb(255, 78, 93);color:white;" (click)="openDialog()">Crear tarea</button>
        

      </div>
    
    </mat-drawer-container>
        
  </mat-drawer-container>
