
#imgLogoApp{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

#imgLogoApp{
    width: 15px;
    display: block;
    margin: auto;
}

#imgLogoApp{
    width: 15px;
    display: block;
    margin: auto;
}

.example-button-row button{
    height: 25px;
    width: 40px;
    display: block;
    margin: auto;
}

.example-button-row a{
    margin-right: 8px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

#login{
    display: block;
    margin: auto;
}

.register{
    color: rgb(168, 168, 168);
}
  

