.card {
    max-width: 80%;
    float: left;
}

.card-image{
    max-width: 10%;
}

.img-perfil{
    max-width: 20%;
}

.sidebar{
    text-align: center;
}

.sidebar-button{
    width: 100%;
    margin-bottom: 5%;
    margin-right: 5px;
}

.username{
    font-size: 15%;
}

