
<html>

  <head>

  </head>

  <body>

    <header>
      <p>
        <mat-toolbar color="warn">
          <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Inicio</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar>
      </p>
    </header>
    
    <mat-drawer-container class="contenedor">

      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          
          <img class="img-perfil" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIo4tIjenmvQr0sKSreWX2LLixtSg3i-YoEw&usqp=CAU">
          <div class="username">Nombre usuario</div>

          <section>
            <div class="example-button-row">
              <button mat-stroked-button class="sidebar-button" color="warn">Inicio</button>
            </div>

            <div class="example-button-row">
                <button mat-stroked-button class="sidebar-button" color="warn">Tareas</button>
              </div>

              <div class="example-button-row">
                <button mat-stroked-button class="sidebar-button" color="warn">Grupos</button>
              </div>

              <div class="example-button-row">
                <button mat-stroked-button class="sidebar-button" color="warn">Estadísticas</button>
              </div>

              <div class="example-button-row">
                <button mat-stroked-button class="sidebar-button" color="warn">Ajustes</button>
              </div>
          </section>

        </mat-drawer>

        <div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh">
          <mat-card class="card">
              <mat-card-header>
                <mat-card-title>Mi Perfil</mat-card-title>
                <mat-card-subtitle>Accede a tu perfil</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image class = "card-image" src="https://www.nicepng.com/png/detail/202-2024687_profile-icon-for-the-politics-category-profile-icon.png" alt="">
              <mat-card-content>
                <p>Contenido</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button routerLink = "/inicio-sesion" routerLinkActive = "active">Acceder</button>
                <button mat-button routerLink = "/ayuda" routerLinkActive = "active">Más info</button>
              </mat-card-actions>
          </mat-card>

          <mat-card class="card">
              <mat-card-header>
                  <mat-card-title>Grupos</mat-card-title>
                  <mat-card-subtitle>Accede a tus grupos</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image class = "card-image" src="https://www.nicepng.com/png/detail/202-2024687_profile-icon-for-the-politics-category-profile-icon.png" alt="">
              <mat-card-content>
                  <p>Contenido</p>
              </mat-card-content>
              <mat-card-actions>
                  <button mat-button routerLink = "/task-list" routerLinkActive = "active">Acceder</button>
                  <button mat-button>Más info</button>
              </mat-card-actions>
          </mat-card>

          <mat-card class="card">
              <mat-card-header>
                  <mat-card-title>Estadísticas</mat-card-title>
                  <mat-card-subtitle>Accede a tus estadísticas</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image class="card-image" src="https://www.nicepng.com/png/detail/202-2024687_profile-icon-for-the-politics-category-profile-icon.png" alt="">
              <mat-card-content>
              <p>Contenido</p>
              </mat-card-content>
              <mat-card-actions>
                  <button mat-button routerLink = "/registro" routerLinkActive = "active">Acceder</button>
                  <button mat-button>Más info</button>
              </mat-card-actions>
          </mat-card>

          <mat-card class="card">
              <mat-card-header>
                  <mat-card-title>Estadísticas</mat-card-title>
                  <mat-card-subtitle>Accede a tus estadísticas</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image class="card-image" src="https://www.nicepng.com/png/detail/202-2024687_profile-icon-for-the-politics-category-profile-icon.png" alt="">
              <mat-card-content>
              <p>Contenido</p>
              </mat-card-content>
              <mat-card-actions>
                  <button mat-button>Acceder</button>
                  <button mat-button>Más info</button>
              </mat-card-actions>
          </mat-card>
        </div>
      
      </mat-drawer-container>

      <!--
          <mat-drawer class="sidebar" mode="side" opened>
          
          

          </mat-drawer>
          -->
          
    </mat-drawer-container>
  </body>

  <footer>

  </footer>
</html>
