<div class="father">
  <img id="imgLogoApp" src="https://image.freepik.com/vector-gratis/ilustracion-libreta_53876-18174.jpg" alt="logoApp">

  <h2 id="title">TasKing</h2>

  <h3 id="registerText">Registro</h3>

  <form class="example-form">

      <mat-form-field class="example-full-width">
          <mat-label class="placeHolderText">Nombre</mat-label>
          <input class="inputText" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label class="placeHolderText">Apellidos</mat-label>
          <input class="inputText" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
        <mat-label class="placeHolderText">Nombre de usuario</mat-label>
          <input class="inputText" matInput>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label class="placeHolderText">Email</mat-label>
          <input class="inputText" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label class="placeHolderText">Contraseña</mat-label>
          <input class="inputText" matInput>
        </mat-form-field>

    </form>

  <div class="example-button-row">
    <button id="register" mat-raised-button color="warn">Crear cuenta</button>
  </div>

  <p class="text"><a routerLink = "/" routerLinkActive = "active">Inicia sesión</a></p> <!-- -----------Corregir Routing------------ -->

</div>
